<%- include('layout/layout.ejs') %>
    <div class="bg-image"><img src="img/kino.jpg" alt="Kino" class="responsive"></div>

    <div class="container">
      <div class="bg-text">
        <h1>Kino Hvězda</h1>
        <h3>Každý den s filmem</h3>
      </div>
      
      <div class="row">
        <div class="col">
          <div class="card">
            <div class="card-body">
              <h2>Název filmu</h2>
              <h4 class="card-title">žánr</h4>
              <p class="card-text">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aliquam erat volutpat. Nullam faucibus mi quis velit. Donec ipsum massa, ullamcorper in.</p>
              <a href="#" class="btn btn-primary">Zobrazit film</a>
            </div>
          </div>
        </div>

        <div class="col">
          <div class="card">
            <div class="card-body">
              <h2>Název filmu</h2>
              <h4 class="card-title">žánr</h4>
              <p class="card-text">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aliquam erat volutpat. Nullam faucibus mi quis velit. Donec ipsum massa, ullamcorper in.</p>
              <a href="#" class="btn btn-primary">Zobrazit film</a>
            </div>
          </div>
        </div>

        <div class="col">
          <div class="card">
            <div class="card-body">
              <h2>Název filmu</h2>
              <h4 class="card-title">žánr</h4>
              <p class="card-text">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aliquam erat volutpat. Nullam faucibus mi quis velit. Donec ipsum massa, ullamcorper in.</p>
              <a href="#" class="btn btn-primary">Zobrazit film</a>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <div class="card">
            <div class="card-body">
              <h2>Název filmu</h2>
              <h4 class="card-title">žánr</h4>
              <p class="card-text">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aliquam erat volutpat. Nullam faucibus mi quis velit. Donec ipsum massa, ullamcorper in.</p>
              <a href="#" class="btn btn-primary">Zobrazit film</a>
            </div>
          </div>
        </div>

        <div class="col">
          <div class="card">
            <div class="card-body">
              <h2>Název filmu</h2>
              <h4 class="card-title">žánr</h4>
              <p class="card-text">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aliquam erat volutpat. Nullam faucibus mi quis velit. Donec ipsum massa, ullamcorper in.</p>
              <a href="#" class="btn btn-primary">Zobrazit film</a>
            </div>
          </div>
        </div>

        <div class="col">
          <div class="card">
            <div class="card-body">
              <h2>Název filmu</h2>
              <h4 class="card-title">žánr</h4>
              <p class="card-text">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aliquam erat volutpat. Nullam faucibus mi quis velit. Donec ipsum massa, ullamcorper in.</p>
              <a href="#" class="btn btn-primary">Zobrazit film</a>
            </div>
          </div>
        </div>
      </div>
    </div>
    

    <footer><div class="container"><small><a>© 2021 Dominik Borek</a><br><a>E-mail: <i>borek_dominik@oauh.cz</i></a></small></div></footer>
  </body>
</html>

