<!DOCTYPE html>
<html lang="cs">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/main.css">
    <link rel="stylesheet" href="css/bootstrap/dist/css/bootstrap.css">
    <title>Kino Hvězda</title>
</head>
<body style="background-color: #C8C8C8;">
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="/">Kino Hvězda</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor02" aria-controls="navbarColor02" aria-expanded="true" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="navbar-collapse collapse show" id="navbarColor02">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a class="nav-link" href="/about">O kinu
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/films">Filmy</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/actors">Herci</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/projections">Promítání</a>
        </li>
      </ul>
      <% if('./loginController/LoggedIn') { %>
      <ul class="navbar-nav mr-right">
        <li class="nav-item">
          <a class="nav-link" href="/register">Registrovat uživatele</a>
        </li>
        <li class="nav-item">
          <form method="POST" action="/logout">
            <button type="submit" class="btn btn-secondary">Log out</button>
          </form>
        </li>
      </ul> 
      <% } else { %>
        <ul class="navbar-nav mr-right">
          <li class="nav-item">
            <a class="nav-link" href="/register">Registrace</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/login">Přihlásit se</a>
          </li>
        <% } %>
      </ul>
    </div>
  </nav>